import React, { useState, useEffect, useRef, useMemo } from 'react';
import {
  Input,
  Button,
  Space,
  Tooltip
} from 'antd';
import { SearchOutlined } from '@ant-design/icons';
import ProTable from 'packages/pro-table/Table';
import dayjs from 'dayjs';
import _ from 'lodash';
import * as enums from 'util/enums';
import { getValue } from 'util/helpers';
import * as {{camelCase pageName}}Services from 'services/{{camelCase pageName}}';

const RESOURCE = '{{camelCase pageName}}';
const List{{pascalCase pageName}} = (props) => {
  const {
    value,
    onChange
  } = props;

  const searchInput = useRef();
  const [selectedRows, setSelectedRows] = useState([]);
  const [selectedRowKeys, setSelectedRowKeys] = useState([]);
  const [formValues, setFormValues] = useState({});
  const [limit, setLimit] = useState((process.env.REACT_APP_PAGESIZE && !Number.isNaN(process.env.REACT_APP_PAGESIZE)) ? Number(process.env.REACT_APP_PAGESIZE) : 10);
  const [current, setCurrent] = useState(1);
  const [listSearch, setListSearch] = useState({});
  const [data, setData] = useState({
    list: [],
    pagination: {
      total: 0,
      anchor: '',
      current: 1,
      listAnchor: {
        1: ''
      }
    },
  });

  const fetchData = async (params, sort, filter) => {
    console.log('fetchData -> params, sort, filter', params, sort, filter);
    filter = Object.keys(filter).reduce((obj, key) => {
      const newObj = { ...obj };
      if (filter[key] !== null) newObj[key] = getValue(filter[key]);
      return newObj;
    }, {});

    let anchor = '';
    if (params.current > 1) {
      anchor = params.current < current ? data.pagination.listAnchor[params.current] : data.pagination.anchor;
    }

    params = _.assign(params, {
			// skip: (Number(pagination.current) - 1) * Number(pagination.pageSize),
			page: Number(pagination.current),
			pageSize: Number(pagination.pageSize),
			// anchor
		}, { query: { ...filter } });

		const response = await {{camelCase pageName}}Services.getList(params);
		let list = [];
		if (response && response.rows) {
			list = response.rows.map(item => {
				if (item.createdAt) {
					const createdAt = item.createdAt;
					item.createdAt = moment(createdAt);
				}
				if (item.updatedAt) {
					const updatedAt = item.updatedAt;
					item.updatedAt = moment(updatedAt);
				}
				return item;
			});
		}
		setCurrent(current + 1);
		const dataRes = {
			// list,
			pagination: {
				total: response.total,
				pageSize: response.pageSize,
				totalPages: response.totalPages,
				anchor: response.anchor,
				current: params.current,
				listAnchor: _.assign(data.pagination.listAnchor, {
					[current + 1]: response.anchor
				})
			}
		};
    setData(dataRes);
    return {
      data: list,
      total: response.total,
      success: true
    };
  };

  const handleSelectRows = (keys, rows) => {
    setSelectedRows(rows);
    setSelectedRowKeys(keys);
    if (props.modeChoose === 'radio') {
      if (keys.length > 0) {
        triggerChange(keys[0], rows[0]);
      }
    } else {
      triggerChange(keys, rows);
    }
  };

  const handleSearchFilter = (selectedKeys, confirm, dataIndex) => {
    setListSearch({
      ...listSearch,
      [`search_${dataIndex}`]: selectedKeys[0],
    });
    confirm();
  };

  const getColumnSearchProps = dataIndex => ({
    filterDropdown: ({ setSelectedKeys, selectedKeys, confirm, clearFilters }) => (
      <div style=\{{ padding: 8 }}>
        <Input
          ref={searchInput}
          placeholder={`Tìm kiếm ${dataIndex}`}
          value={selectedKeys[0]}
          onChange={e => setSelectedKeys(e.target.value ? [e.target.value] : [])}
          onPressEnter={() => handleSearchFilter(selectedKeys, confirm, dataIndex)}
          /* onKeyDown={e => {
            if (e.key === 'Enter') {
              onChange(e.target.value)
            }
          }} */
          style=\{{ width: 188, marginBottom: 8, display: 'block' }}
        />
        <Space>
          <Button
            type="primary"
            onClick={() => handleSearchFilter(selectedKeys, confirm, dataIndex)}
            icon={<SearchOutlined />}
            size="small"
            style=\{{ width: 90 }}
          >
            Tìm
          </Button>
          <Button onClick={() => handleReset(clearFilters, confirm, dataIndex)} size="small" style=\{{ width: 90 }}>
            Reset
          </Button>
        </Space>
      </div>
    ),
    filterIcon: filtered => <SearchOutlined style=\{{ color: filtered ? '#1890ff' : undefined }} />,
    onFilterDropdownVisibleChange: visible => {
      if (visible) {
        setTimeout(() => searchInput.current.select());
      }
    },
    onFilter: (value, record) => record
    /* onFilter: (value, record) =>
      record[dataIndex].toString().toLowerCase().includes(value.toLowerCase()),
    render: text =>
      this.state.searchedColumn === dataIndex ? (
        <Highlighter
          highlightStyle=\{{ backgroundColor: '#ffc069', padding: 0 }}
          searchWords={[this.state.searchText]}
          autoEscape
          textToHighlight={text.toString()}
        />
      ) : (
          text
        ), */
  });

  const handleReset = (clearFilters, confirm, dataIndex) => {
    clearFilters();
    setListSearch({
      ...listSearch,
      [`search_${dataIndex}`]: '',
    });
    confirm();
  };

  const triggerChange = (key, data) => {
    if (onChange) {
      onChange({ key, data });
    }
  };

  const columns = [
    {
      title: '{{key}}',
      dataIndex: '{{key}}',
      width: 60,
      fixed: 'left',
      hideInSearch: true,
    },
    {
      title: '{{value}}',
      dataIndex: '{{value}}',
      width: 200,
      hideInSearch: true,
      ...getColumnSearchProps('{{value}}'),
    },
    {
      title: 'Trạng thái',
      dataIndex: 'state',
      width: 120,
      filters: true,
      valueEnum: enums.statusEnum,
      hideInSearch: true,
    },
  ];

  const pagination = {
    ...(data && data.pagination),
    pageSize: props.limit || 5,
    simple: true,
    itemRender: (current, type, originalElement) => {
      // console.log('render -> current, type, originalElement', current, type, originalElement);
      if (type === 'prev') {
        return <a>Trước&nbsp;&nbsp;</a>;
      }
      if (type === 'next') {
        return <a>Sau</a>;
      }
      return originalElement;
    },
  };

  const getParams = useMemo(() => {
    let params = {};
    return params;
  }, [value]);

  return (
    <div className="">
      <ProTable
        tableClassName="gx-table-responsive"
        request={fetchData}
        params={getParams}
        search={false}
        headerTitle={"Danh sách {{pascalCase pageName}}"}
        rowKey="{{key}}"
        toolBarRender={false}
        tableAlertRender={false}
        pagination={pagination}
        columns={columns}
        rowSelection=\{{
          type: props.modeChoose || 'checkbox',
          renderCell: (checked, record, index, originNode) => {
            return (
              <Tooltip title={"Chọn {{pascalCase pageName}}"}>
                {originNode}
              </Tooltip>
            );
          },
          onChange: handleSelectRows
        }}
        // onChange={handleStandardTableChange}
        dateFormatter="string"
        type="table"
      />
    </div>
  );
};

export default List{{pascalCase pageName}};
